# InnovaLab - Data Challenge

In [1]:
import gdown
import requests
import pandas as pd
from io import StringIO
from pathlib import Path
from epiweeks import Year
from bs4 import BeautifulSoup

In [2]:
pd.set_option('display.max_colwidth', 1000)

## Extraction

In [ ]:
docs_path = Path.cwd().parent.joinpath('data')

docs_path.mkdir(parents=True)
docs_path.joinpath('external').mkdir()
docs_path.joinpath('interim').mkdir()
docs_path.joinpath('processed').mkdir()

### Google Drive

In [119]:
url_datasets = 'https://drive.google.com/drive/folders/12AHywbYCOn9bsf4nDgkMpmlBp5lSw_0q'

data_path = Path.cwd().parent.joinpath('data', 'external')
data_path_str = str(data_path)

In [21]:
gdown.download_folder(url=url_datasets, output=data_path_str, quiet=False, use_cookies=False)

Retrieving folder contents

Processing file 1HsbK_CHsi3vi0Tjdm4nVBiAZC_Q3K4aN districts_2017census.csv
Processing file 1Rabz-B9Cjy3WNcGn8ITkXyesucKwRpff mintemp_20170101-20221231.csv
Processing file 15dXzTm_VGOK_pz8jDFhL4m8lM5V29_91 population_2017-2022.csv

Retrieving folder contents completed
Building directory structure
Building directory structure completed
Downloading...
From: https://drive.google.com/uc?id=1HsbK_CHsi3vi0Tjdm4nVBiAZC_Q3K4aN
To: c:\Users\Asus\Documents\Proyectos\challenge\data\external\districts_2017census.csv
100%|██████████| 113k/113k [00:00<00:00, 756kB/s]
Downloading...
From: https://drive.google.com/uc?id=1Rabz-B9Cjy3WNcGn8ITkXyesucKwRpff
To: c:\Users\Asus\Documents\Proyectos\challenge\data\external\mintemp_20170101-20221231.csv
100%|██████████| 75.6M/75.6M [00:02<00:00, 32.2MB/s]
Downloading...
From: https://drive.google.com/uc?id=15dXzTm_VGOK_pz8jDFhL4m8lM5V29_91
To: c:\Users\Asus\Documents\Proyectos\challenge\data\external\population_2017-2022.csv
100%|██████████| 193k/193k [00:00<00:00, 1.07MB/s]
Download completed

['c:\\Users\\Asus\\Documents\\Proyectos\\challenge\\data\\external\\districts_2017census.csv',
 'c:\\Users\\Asus\\Documents\\Proyectos\\challenge\\data\\external\\mintemp_20170101-20221231.csv',
 'c:\\Users\\Asus\\Documents\\Proyectos\\challenge\\data\\external\\population_2017-2022.csv']

### Datos Abiertos

In [24]:
url_dengue_dataset = 'https://www.datosabiertos.gob.pe/dataset/vigilancia-epidemiol%C3%B3gica-de-dengue'

In [51]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:128.0) Gecko/20100101 Firefox/128.0'
}

In [52]:
r = requests.get(url_dengue_dataset, headers=headers)

In [53]:
r

In [59]:
soup = BeautifulSoup(r.content, 'html.parser')

In [60]:
soup

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
  "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">

<html dir="ltr" lang="es" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/terms/" xmlns:dcat="http://www.w3.org/ns/dcat#" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:og="http://ogp.me/ns#" xmlns:owl="http://www.w3.org/2002/07/owl#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:rss="http://purl.org/rss/1.0/" xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:sioct="http://rdfs.org/sioc/types#" xmlns:site="https://www.datosabiertos.gob.pe/ns#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:xsd="http://www.w3.org/2001/XMLSchema#">
<head profile="http://www.w3.org/1999/xhtml/vocab">
<meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible"/>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="Drupal 7 (http://drupal.org)" name="Generator">
<link href="https://www.datosabiertos.gob.pe/dataset/vigilancia-epidemiol%C3%B3gica-de-dengue.xml" rel="alternate" type="application/rdf+xml"/>
<link href="https://www.datosabiertos.gob.pe/sites/default/files/peru_2.png" rel="shortcut icon" type="image/png"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Vigilancia Epidemiológica de dengue | Plataforma Nacional de Datos Abiertos </title>
<link href="https://www.datosabiertos.gob.pe/modules/system/system.base.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/modules/system/system.messages.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/modules/system/system.theme.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/jquery_update/replace/ui/themes/base/minified/jquery.ui.core.min.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/jquery_update/replace/ui/themes/base/minified/jquery.ui.theme.min.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/jquery_update/replace/ui/themes/base/minified/jquery.ui.tabs.min.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/modules/comment/comment.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/date/date_api/date.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/date/date_popup/themes/datepicker.1.7.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/dkan/dkan_data_story/css/dkan_data_story.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/dkan/dkan_harvest/modules/dkan_harvest_dashboard/css/dkan_harvest_dashboard.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/modules/field/theme/field.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/field_hidden/field_hidden.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/modules/node/node.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/panopoly_widgets/panopoly-widgets.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/panopoly_widgets/panopoly-widgets-spotlight.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/radix_layouts/radix_layouts.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/modules/user/user.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/views/css/views.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/sites/all/modules/ckeditor/css/ckeditor.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/ctools/css/ctools.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/panels/css/panels.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/dkan/dkan_topics/theme/dkan_topics.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="//fonts.googleapis.com/css?family=Open+Sans::400,300,700" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/sites/default/files/font-icon-select-general-generated-1.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/dkan/dkan_dataset/css/dkan_dataset.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/themes/nuboot_radix/assets/css/nuboot_radix.style.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/themes/nuboot_radix/assets/css/dkan-flaticon.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/themes/nuboot_radix/assets/css/dkan-topics.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/themes/nuboot_radix/assets/css/print.css?sfyzx4" media="print" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/sites/default/files/colorizer/nuboot_radix-d1d9705d.css" media="all" rel="stylesheet" type="text/css"/>
<!--[if lte IE 9]>
<link type="text/css" rel="stylesheet" href="https://www.datosabiertos.gob.pe/profiles/dkan/themes/nuboot_radix/assets/css/ie.css?sfyzx4" media="all" />
<![endif]-->
<!--[if IE 9]>
<link type="text/css" rel="stylesheet" href="https://www.datosabiertos.gob.pe/profiles/dkan/themes/nuboot_radix/assets/css/ie9.css?sfyzx4" media="all" />
<![endif]-->
<!--[if IE 8]>
<link type="text/css" rel="stylesheet" href="https://www.datosabiertos.gob.pe/profiles/dkan/themes/nuboot_radix/assets/css/ie8.css?sfyzx4" media="all" />
<![endif]-->
<link href="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/panopoly_images/panopoly-images.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/sites/default/files/fontyourface/font.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<link href="http://fonts.googleapis.com/css?family=Roboto:500&amp;subset=latin-ext" media="all" rel="stylesheet" type="text/css"/>
<link href="https://www.datosabiertos.gob.pe/sites/default/files/css_injector/css_injector_1.css?sfyzx4" media="all" rel="stylesheet" type="text/css"/>
<!-- HTML5 element support for IE6-8 -->
<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <link href="/css/ie.css" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->
<script src="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/jquery_update/replace/jquery/1.10/jquery.min.js?v=1.10.2" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/misc/jquery.once.js?v=1.2" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/misc/drupal.js?sfyzx4" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/jquery_update/replace/ui/ui/minified/jquery.ui.core.min.js?v=1.10.2" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/jquery_update/replace/ui/ui/minified/jquery.ui.widget.min.js?v=1.10.2" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/jquery_update/replace/ui/ui/minified/jquery.ui.tabs.min.js?v=1.10.2" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/panopoly_images/panopoly-images.js?sfyzx4" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/profiles/dkan/modules/dkan/dkan_plugins/js/colorPicker.behavior.js?sfyzx4" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/recline/js/jsondataview.js?sfyzx4" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/recline/js/restdataview.js?sfyzx4" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/sites/default/files/languages/es_Q4h6deJauk8zqiURXymB7OrLlrPCSRfKKSty_Br66d8.js?sfyzx4" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/profiles/dkan/libraries/jquery.imagesloaded/jquery.imagesloaded.min.js?sfyzx4" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/profiles/dkan/modules/contrib/field_group/field_group.js?sfyzx4" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/profiles/dkan/modules/dkan/dkan_dataset/js/dataset.js?sfyzx4" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/profiles/dkan/modules/dkan/dkan_dataset/js/dkan_tooltip.js?sfyzx4" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/sites/all/modules/google_analytics/googleanalytics.js?sfyzx4" type="text/javascript"></script>
<script src="https://www.googletagmanager.com/gtag/js?id=G-P1P4D2R84J" type="text/javascript"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments)};gtag("js", new Date());gtag("set", "developer_id.dMDhkMT", true);gtag("config", "G-P1P4D2R84J", {"groups":"default","anonymize_ip":true});
//--><!]]>
</script>
<script src="https://www.datosabiertos.gob.pe/profiles/dkan/themes/contrib/radix/assets/js/radix.script.js?sfyzx4" type="text/javascript"></script>
<script src="https://www.datosabiertos.gob.pe/profiles/dkan/themes/nuboot_radix/assets/js/nuboot_radix.script.js?sfyzx4" type="text/javascript"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"nuboot_radix","theme_token":"ubmUZalbQN49qA35Oa5k4ZQ_rc1-YiF4TuSG6bRkv90","js":{"profiles\/dkan\/modules\/contrib\/panopoly_widgets\/panopoly-widgets.js":1,"profiles\/dkan\/modules\/contrib\/panopoly_widgets\/panopoly-widgets-spotlight.js":1,"profiles\/dkan\/modules\/contrib\/jquery_update\/replace\/jquery\/1.10\/jquery.min.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"https:\/\/maxcdn.bootstrapcdn.com\/bootstrap\/3.1.1\/js\/bootstrap.min.js":1,"profiles\/dkan\/modules\/contrib\/jquery_update\/replace\/ui\/ui\/minified\/jquery.ui.core.min.js":1,"profiles\/dkan\/modules\/contrib\/jquery_update\/replace\/ui\/ui\/minified\/jquery.ui.widget.min.js":1,"profiles\/dkan\/modules\/contrib\/jquery_update\/replace\/ui\/ui\/minified\/jquery.ui.tabs.min.js":1,"profiles\/dkan\/modules\/contrib\/panopoly_images\/panopoly-images.js":1,"profiles\/dkan\/modules\/dkan\/dkan_plugins\/js\/colorPicker.behavior.js":1,"profiles\/dkan\/modules\/contrib\/recline\/js\/jsondataview.js":1,"profiles\/dkan\/modules\/contrib\/recline\/js\/restdataview.js":1,"public:\/\/languages\/es_Q4h6deJauk8zqiURXymB7OrLlrPCSRfKKSty_Br66d8.js":1,"profiles\/dkan\/libraries\/jquery.imagesloaded\/jquery.imagesloaded.min.js":1,"profiles\/dkan\/modules\/contrib\/field_group\/field_group.js":1,"profiles\/dkan\/modules\/dkan\/dkan_dataset\/js\/dataset.js":1,"profiles\/dkan\/modules\/dkan\/dkan_dataset\/js\/dkan_tooltip.js":1,"sites\/all\/modules\/google_analytics\/googleanalytics.js":1,"https:\/\/www.googletagmanager.com\/gtag\/js?id=G-P1P4D2R84J":1,"0":1,"profiles\/dkan\/themes\/contrib\/radix\/assets\/js\/radix.script.js":1,"profiles\/dkan\/themes\/nuboot_radix\/assets\/js\/nuboot_radix.script.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"misc\/ui\/jquery.ui.core.css":1,"misc\/ui\/jquery.ui.theme.css":1,"misc\/ui\/jquery.ui.tabs.css":1,"modules\/comment\/comment.css":1,"profiles\/dkan\/modules\/contrib\/date\/date_api\/date.css":1,"profiles\/dkan\/modules\/contrib\/date\/date_popup\/themes\/datepicker.1.7.css":1,"profiles\/dkan\/modules\/dkan\/dkan_data_story\/css\/dkan_data_story.css":1,"profiles\/dkan\/modules\/dkan\/dkan_harvest\/modules\/dkan_harvest_dashboard\/css\/dkan_harvest_dashboard.css":1,"modules\/field\/theme\/field.css":1,"profiles\/dkan\/modules\/contrib\/field_hidden\/field_hidden.css":1,"modules\/node\/node.css":1,"profiles\/dkan\/modules\/contrib\/panopoly_widgets\/panopoly-widgets.css":1,"profiles\/dkan\/modules\/contrib\/panopoly_widgets\/panopoly-widgets-spotlight.css":1,"profiles\/dkan\/modules\/contrib\/radix_layouts\/radix_layouts.css":1,"modules\/user\/user.css":1,"profiles\/dkan\/modules\/contrib\/views\/css\/views.css":1,"sites\/all\/modules\/ckeditor\/css\/ckeditor.css":1,"profiles\/dkan\/modules\/contrib\/ctools\/css\/ctools.css":1,"profiles\/dkan\/modules\/contrib\/panels\/css\/panels.css":1,"profiles\/dkan\/modules\/dkan\/dkan_topics\/theme\/dkan_topics.css":1,"\/\/fonts.googleapis.com\/css?family=Open+Sans::400,300,700":1,"public:\/\/font-icon-select-general-generated-1.css":1,"profiles\/dkan\/modules\/dkan\/dkan_dataset\/css\/dkan_dataset.css":1,"profiles\/dkan\/modules\/dkan\/dkan_dataset\/css\/dkan-flaticon.css":1,"profiles\/dkan\/themes\/nuboot_radix\/assets\/css\/nuboot_radix.style.css":1,"profiles\/dkan\/themes\/nuboot_radix\/assets\/css\/dkan-flaticon.css":1,"profiles\/dkan\/themes\/nuboot_radix\/assets\/css\/dkan-topics.css":1,"profiles\/dkan\/themes\/nuboot_radix\/assets\/css\/print.css":1,"https:\/\/www.datosabiertos.gob.pe\/sites\/default\/files\/colorizer\/nuboot_radix-d1d9705d.css":1,"profiles\/dkan\/themes\/nuboot_radix\/assets\/css\/ie.css":1,"profiles\/dkan\/themes\/nuboot_radix\/assets\/css\/ie9.css":1,"profiles\/dkan\/themes\/nuboot_radix\/assets\/css\/ie8.css":1,"profiles\/dkan\/modules\/contrib\/panopoly_images\/panopoly-images.css":1,"sites\/default\/files\/fontyourface\/font.css":1,"http:\/\/fonts.googleapis.com\/css?family=Roboto:500\u0026subset=latin-ext":1,"public:\/\/css_injector\/css_injector_1.css":1}},"field_group":{"table":"full"},"better_exposed_filters":{"views":{"group_block":{"displays":{"block":{"filters":[]}}}}},"googleanalytics":{"account":["G-P1P4D2R84J"],"trackOutbound":1,"trackMailto":1,"trackDownload":1,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc(x|m)?|dot(x|m)?|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt(x|m)?|pot(x|m)?|pps(x|m)?|ppam|sld(x|m)?|thmx|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls(x|m|b)?|xlt(x|m)|xlam|xml|z|zip"}});
//--><!]]>
</script>
</meta></meta></meta></head>
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-16351 node-type-dataset explore i18n-es panel-layout-radix_bryant panel-region-contentmain panel-region-sidebar">
<div id="skip-link">
<a class="element-invisible element-focusable" href="#main-content">Pasar al contenido principal</a>
</div>
<header class="header" id="header">
<div class="branding container custom">
<a class="logo navbar-btn pull-left" href="/" title="Inicio">
<img alt="Inicio" src="https://www.datosabiertos.gob.pe/sites/default/files/img_data_0.png"/>
</a>
<!-- views exposed search -->
<!-- views exposed search -->
</div>
</header>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T27JMRT');</script>
<!-- End Google Tag Manager -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-T27JMRT" style="display:none;visibility:hidden" width="0"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="post-header">
<div class="branding container">
<div class="izquierda">
<h2>Datos Abiertos</h2>
</div>
<div class="derecha">
<p>Marco de Gobernanza de Datos del Estado Peruano está constituido por instrumentos técnicos y normativos que establecen los requisitos mínimos que las entidades de la Administración Pública deben implementar conforme a su contexto legal, tecnológico y estratégico para asegurar un nivel básico y aceptable para la recopilación, procesamiento, publicación, almacenamiento y apertura de los datos que administre.</p>
<!--    <a class="btn btn-primary" href="https://www.datosabiertos.gob.pe/search/field_topic/covid-19-917?sort_by=changed" role="button">COVID-19</a> <a class="btn btn-primary" href="https://www.datosabiertos.gob.pe/search/field_topic/exprésate-perú-con-datos-1466?sort_by=changed" role="button">Exprésate Perú</a>  -->
</div>
</div>
</div>
<div id="main-wrapper">
<div class="main container" id="main">
<ul class="breadcrumb"><li class="home-link"><a href="/"><i class="fa fa fa-home"></i><span> Home</span></a></li><li><a href="/">Home</a></li><li><a href="/dataset">Datasets</a></li><li class="active-trail">Vigilancia Epidemiológica de dengue</li></ul>
<div class="main-row">
<section>
<a id="main-content"></a>
<div class="region region-content">
<div class="panel-display bryant clearfix radix-bryant">
<div class="container-fluid">
<div class="row">
<div class="col-md-3 radix-layouts-sidebar panel-panel">
<div class="panel-panel-inner">
<div class="panel-pane pane-block pane-dkan-sitewide-dkan-sitewide-license">
<h2 class="pane-title">
      Licencia    </h2>
<div class="pane-content">
<a href="http://opendefinition.org/licenses/odc-by/">Open Data Commons Attribution License</a><br/><a href="http://opendefinition.org/licenses/odc-by/"><img alt="[Open Data]" class="open-data" src="https://assets.okfn.org/images/ok_buttons/od_80x15_blue.png"/></a> </div>
</div>
<div class="panel-pane pane-block pane-dkan-sitewide-dkan-sitewide-other-access">
<h2 class="pane-title">
      Otros accesos    </h2>
<div class="pane-content">
    La información en esta página (los metadatos del conjunto de datos) también está disponible en formato (json)<p class="btn-group"><a class="btn" href="https://www.datosabiertos.gob.pe/api/3/action/package_show?id=2c3b2955-6252-4b9d-abd3-caeb61ccda39" title="json view of content"><i class="ckan-icon ckan-icon-json"></i> Ver Formato</a></p> </div>
</div>
<div class="panel-pane pane-block pane-dkan-sitewide-dkan-sitewide-social">
<h2 class="pane-title">
      Social    </h2>
<div class="pane-content">

In [86]:
link_elements = soup.find_all('a')

In [87]:
len(link_elements)

32

In [89]:
for link_element in link_elements:
    if 'Descargar' in link_element.text:
        print(link_element)
        break

<a class="btn btn-primary data-link" href="https://www.datosabiertos.gob.pe/sites/default/files/datos_abiertos_vigilancia_dengue.csv"><i class="fa fa-download"></i> Descargar</a>

In [92]:
link_element['href']

'https://www.datosabiertos.gob.pe/sites/default/files/datos_abiertos_vigilancia_dengue.csv'

In [94]:
url_dengue_csv = link_element['href']

In [101]:
r1 = requests.get(url_dengue_csv, headers=headers)

In [107]:
r1

In [108]:
type(r1)

requests.models.Response

In [118]:
csv_dengue_file_name = url_dengue_csv.split('/')[-1]
csv_dengue_file_name

'datos_abiertos_vigilancia_dengue.csv'

In [126]:
with open(data_path.joinpath(csv_dengue_file_name), 'w', encoding='utf-8') as csv_dengue_file:
    csv_dengue_file.write(r1.text.replace('\,', '-'))

In [46]:
# table = soup.find('table')

In [48]:
# df_data_dict = pd.read_html(StringIO(table.prettify()))[0]

In [50]:
# df_data_dict.fillna(' ', inplace=True)

In [51]:
# df_data_dict

,CAMPO,TIPO,DENOMINACIÓN,VALORES
0,departamento,Caracter,Región geográfica,
1,provincia,Caracter,Provincia,
2,distrito,Caracter,Lugar probable de infección,
3,enfermedad,Caracter,Diagnóstico vigilado,
4,ano,Integer,Año,
5,semana,Integer,Semana de inicio de síntomas,
6,diagnostic,Caracter,CIE 10,
7,tipo_dx,Caracter,Tipo de diagnóstico,"C= Confirmado, P = Probable, S = Sospechoso"
8,diresa,Caracter,Dirección de salud que notifica,
9,ubigeo,Caracter,Código del lugar probable de infección,
10,edad,Caracter,Edad del paciente,
11,tipo_edad,Caracter,Tipo de edad del paciente,"A = Año, M = Mes, D = Días"
12,sexo,Caracter,Sexo,"M = Masculino, F = Femenino"

## EDA

In [3]:
data_path = Path.cwd().parent.joinpath('data', 'external')

### Epidemiological Surveillance of Dengue

In [4]:
df_dengue = pd.read_csv(data_path.joinpath('datos_abiertos_vigilancia_dengue.csv'), dtype={'localcod': str})

In [5]:
df_dengue.head(2)

,departamento,provincia,distrito,localidad,enfermedad,ano,semana,diagnostic,diresa,ubigeo,localcod,edad,tipo_edad,sexo
0,HUANUCO,LEONCIO PRADO,LUYANDO,NaN,DENGUE SIN SEÑALES DE ALARMA,2000,47,A97.0,10.0,100605,NaN,9,A,M
1,HUANUCO,LEONCIO PRADO,LUYANDO,NaN,DENGUE SIN SEÑALES DE ALARMA,2000,40,A97.0,10.0,100605,NaN,18,A,F

In [6]:
df_dengue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501692 entries, 0 to 501691
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   departamento  501692 non-null  object
 1   provincia     501692 non-null  object
 2   distrito      501692 non-null  object
 3   localidad     400753 non-null  object
 4   enfermedad    501692 non-null  object
 5   ano           501692 non-null  int64
 6   semana        501692 non-null  int64
 7   diagnostic    501692 non-null  object
 8   diresa        501669 non-null  float64
 9   ubigeo        501692 non-null  int64
 10  localcod      407822 non-null  object
 11  edad          501692 non-null  int64
 12  tipo_edad     501692 non-null  object
 13  sexo          501692 non-null  object
dtypes: float64(1), int64(4), object(9)
memory usage: 53.6+ MB

In [7]:
df_dengue['departamento'].unique()

array(['HUANUCO', 'UCAYALI', 'JUNIN', 'LA LIBERTAD', 'TUMBES', 'PIURA',
       'AMAZONAS', 'LORETO', 'MADRE DE DIOS', 'SAN MARTIN', 'CAJAMARCA',
       'LAMBAYEQUE', 'ANCASH', 'LIMA', 'PASCO', 'CUSCO', '\\N', 'PUNO',
       'AYACUCHO', 'ICA', 'CALLAO', 'MOQUEGUA', 'AREQUIPA'], dtype=object)

El conjunto de datos ocupa aproximadamente 50 Mb de memoria y contiene información de distintos diagnósticos de dengue
en distintos distritos y localidades del Perú identificando el género y la edad de los pacientes.

In [8]:
df_dengue = df_dengue[(df_dengue['departamento']=='LORETO') & (df_dengue['ano']>=2017) & (df_dengue['ano']<=2022)].copy()

In [9]:
df_dengue.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27310 entries, 257636 to 501690
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   departamento  27310 non-null  object
 1   provincia     27310 non-null  object
 2   distrito      27310 non-null  object
 3   localidad     23915 non-null  object
 4   enfermedad    27310 non-null  object
 5   ano           27310 non-null  int64
 6   semana        27310 non-null  int64
 7   diagnostic    27310 non-null  object
 8   diresa        27310 non-null  float64
 9   ubigeo        27310 non-null  int64
 10  localcod      26378 non-null  object
 11  edad          27310 non-null  int64
 12  tipo_edad     27310 non-null  object
 13  sexo          27310 non-null  object
dtypes: float64(1), int64(4), object(9)
memory usage: 3.1+ MB

In [10]:
pd.DataFrame(df_dengue.isna().sum()).T

,departamento,provincia,distrito,localidad,enfermedad,ano,semana,diagnostic,diresa,ubigeo,localcod,edad,tipo_edad,sexo
0,0,0,0,3395,0,0,0,0,0,0,932,0,0,0

In [11]:
def get_unique(df: pd.DataFrame, columns: list[str]) -> pd.DataFrame:
    n_unique_values = []
    unique_values = []
    for column in columns:
        n_unique = df[column].nunique()
        n_unique_values.append(df[column].nunique())

        if n_unique > 6:
            unique_values.append('Más de 6 valores únicos')
        else:
            unique_values.append(df[column].unique())

    cols_values = pd.DataFrame(zip(columns, n_unique_values, unique_values))
    cols_values.columns = ['variable_name', 'n_unique', 'values']
    return cols_values

In [12]:
df_dengue_unique = get_unique(df_dengue, ['ano', 'diagnostic', 'enfermedad', 'tipo_edad', 'sexo', 'departamento', 'ubigeo', 'semana', 'diresa'])
df_dengue_unique

,variable_name,n_unique,values
0,ano,6,"[2017, 2018, 2019, 2020, 2021, 2022]"
1,diagnostic,3,"[A97.0, A97.1, A97.2]"
2,enfermedad,3,"[DENGUE SIN SEÑALES DE ALARMA, DENGUE CON SEÑALES DE ALARMA, DENGUE GRAVE]"
3,tipo_edad,3,"[A, M, D]"
4,sexo,2,"[M, F]"
5,departamento,1,[LORETO]
6,ubigeo,50,Más de 6 valores únicos
7,semana,53,Más de 6 valores únicos
8,diresa,1,[16.0]

Al acotar los datos a lo requerido para el análisis (departamento Loreto en los años desde 2017 hasta 2022)
se observa consistencia en el conjunto de datos: una sola Diresa, 50 ubigeos, 53 semanas y datos de diagnóstico y enfermedad.

In [13]:
df_dengue.groupby('diagnostic').agg({'enfermedad': 'unique'}).reset_index()

  diagnostic                      enfermedad
0      A97.0  [DENGUE SIN SEÑALES DE ALARMA]
1      A97.1  [DENGUE CON SEÑALES DE ALARMA]
2      A97.2                  [DENGUE GRAVE]

In [ ]:
df_dengue['diagnostic'].value_counts(normalize=True)

diagnostic
A97.0    0.809740
A97.1    0.183742
A97.2    0.006518
Name: proportion, dtype: float64

* Se comprobó que el código CIE-10 de la columna `diagnostic` concuerde con la descripción contenida en la columna `enfermedad`.
* El tipo de enfermedad `Dengue Grave` tiene menos del 0.01% del total de casos diagnosticados.

In [14]:
df_dengue.groupby('ubigeo').nunique().nunique()

departamento     1
provincia        1
distrito         1
localidad       21
enfermedad       3
ano              6
semana          32
diagnostic       3
diresa           1
localcod        25
edad            37
tipo_edad        3
sexo             2
dtype: int64

Los datos de departamento, provincia y distrito concuerdan con el ubigeo al tener una relación 1:1.

In [15]:
df_dengue['tipo_edad'].value_counts(normalize=True)

tipo_edad
A    0.988136
M    0.011058
D    0.000806
Name: proportion, dtype: float64

In [16]:
df_dengue[df_dengue['tipo_edad']=='M']['edad'].sort_values().unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 58])

In [17]:
df_dengue[(df_dengue['tipo_edad']=='M') & (df_dengue['edad']==58)]

,departamento,provincia,distrito,localidad,enfermedad,ano,semana,diagnostic,diresa,ubigeo,localcod,edad,tipo_edad,sexo
327032,LORETO,MAYNAS,FERNANDO LORES,TAMSHIYACU,DENGUE SIN SEÑALES DE ALARMA,2018,17,A97.0,16.0,160103,1601030001,58,M,M

In [18]:
df_dengue[df_dengue['tipo_edad']=='D']['edad'].sort_values().unique()

array([ 1,  2,  3,  5,  7,  8, 11, 13, 16, 18, 19, 20, 26])

In [19]:
df_dengue[df_dengue['tipo_edad']=='A']['edad'].sort_values().unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  95,  97, 102, 104])

In [20]:
df_dengue[df_dengue['tipo_edad']=='A']['edad'].value_counts()

edad
13     931
14     900
12     888
15     873
10     843
      ...
95       3
93       3
102      1
104      1
97       1
Name: count, Length: 97, dtype: int64

In [21]:
df_dengue[df_dengue['tipo_edad']=='A']['edad'].value_counts(normalize=True)

edad
13     0.034499
14     0.033351
12     0.032906
15     0.032350
10     0.031238
         ...
95     0.000111
93     0.000111
102    0.000037
104    0.000037
97     0.000037
Name: proportion, Length: 97, dtype: float64

* Existen muy pocos datos (menos del 1%) de diagnósticos de pacientes con edades expresadas en meses o días.
* Al parecer hay un valor atípico, una edad expresada en meses con valor de 58 (que debería expresarse en años), pero al no ser una imposibilidad, se deja el dato sin modificar.

### Districts

In [23]:
df_districts = pd.read_csv(data_path.joinpath('districts_2017census.csv'))

In [24]:
df_districts.head()

,ubigeo,departmento,provincia,distrito,source
0,10103,AMAZONAS,CHACHAPOYAS,BALSAS,INEI - CPV2017 RESULTADOS
1,10109,AMAZONAS,CHACHAPOYAS,LA JALCA,INEI - CPV2017 RESULTADOS
2,10118,AMAZONAS,CHACHAPOYAS,SAN FRANCISCO DE DAGUAS,INEI - CPV2017 RESULTADOS
3,10101,AMAZONAS,CHACHAPOYAS,CHACHAPOYAS,INEI - CPV2017 RESULTADOS
4,10112,AMAZONAS,CHACHAPOYAS,MAGDALENA,INEI - CPV2017 RESULTADOS

In [25]:
df_districts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1874 entries, 0 to 1873
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ubigeo       1874 non-null   int64
 1   departmento  1874 non-null   object
 2   provincia    1874 non-null   object
 3   distrito     1874 non-null   object
 4   source       1874 non-null   object
dtypes: int64(1), object(4)
memory usage: 73.3+ KB

In [26]:
df_districts.duplicated(subset=['departmento', 'provincia', 'distrito']).sum()

np.int64(0)

In [27]:
df_districts.duplicated(subset='ubigeo').sum()

np.int64(0)

In [28]:
df_districts['source'].unique()

array(['INEI - CPV2017 RESULTADOS'], dtype=object)

El conjunto de datos de distritos contiene los ubigeos de todos los distritos del Perú, no tiene valores duplicados y los datos provienen de una sola fuente: Censo Nacional 2017.

### Population

In [29]:
df_population = pd.read_csv(data_path.joinpath('population_2017-2022.csv'))

In [30]:
df_population.head()

   ubigeo  year  population
0   10101  2017       32589
1   10102  2017         262
2   10103  2017        1136
3   10104  2017         642
4   10105  2017         585

In [31]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11244 entries, 0 to 11243
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ubigeo      11244 non-null  int64
 1   year        11244 non-null  int64
 2   population  11244 non-null  int64
dtypes: int64(3)
memory usage: 263.7 KB

In [32]:
df_population.duplicated(subset=['ubigeo', 'year']).sum()

np.int64(0)

Este conjunto de datos contiene la población anual por distrito y no contiene duplicados.

### Temperature

In [33]:
df_temperature = pd.read_csv(data_path.joinpath('mintemp_20170101-20221231.csv'))

In [34]:
df_temperature.head()

,ubigeo,mintemp_20170101,mintemp_20170102,mintemp_20170103,mintemp_20170104,mintemp_20170105,mintemp_20170106,mintemp_20170107,mintemp_20170108,mintemp_20170109,...,mintemp_20221222,mintemp_20221223,mintemp_20221224,mintemp_20221225,mintemp_20221226,mintemp_20221227,mintemp_20221228,mintemp_20221229,mintemp_20221230,mintemp_20221231
0,10103,12.498427,12.108865,12.565690,12.962123,12.595896,12.398725,12.383098,11.756330,12.209360,...,12.411258,12.258318,11.976654,12.379790,12.294665,11.132496,11.902057,12.365850,10.923075,12.044496
1,10109,10.329275,9.754982,9.841652,10.791199,10.288585,10.175150,9.670921,8.920175,9.632852,...,10.044639,9.420370,9.471938,10.210789,10.137074,8.345556,8.765216,9.788771,8.400263,9.985351
2,10118,11.647351,11.809120,11.633576,12.224550,12.042054,12.091172,11.480333,11.091276,11.547343,...,11.584653,10.455562,10.510100,11.428710,11.406121,10.034055,10.964971,11.010257,10.064669,11.142282
3,10101,12.146751,12.281131,11.913081,12.980650,12.445594,12.890292,12.150569,11.453386,12.106205,...,12.416107,10.945145,11.081451,11.893910,12.116299,10.915970,11.886139,11.607745,10.234204,11.648584
4,10112,10.566536,10.178665,10.012492,11.182473,10.469183,10.560177,9.986165,9.234688,10.001329,...,10.440131,9.541830,9.684929,10.437208,10.350846,8.870280,9.393880,9.968810,8.525117,10.163390

In [35]:
df_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1874 entries, 0 to 1873
Columns: 2192 entries, ubigeo to mintemp_20221231
dtypes: float64(2191), int64(1)
memory usage: 31.3 MB

In [36]:
ubigeos_loreto = df_districts[df_districts['departmento']=='LORETO']['ubigeo'].sort_values().to_list()
ubigeos_loreto

[160101,
 160102,
 160103,
 160104,
 160105,
 160106,
 160107,
 160108,
 160110,
 160112,
 160113,
 160201,
 160202,
 160205,
 160206,
 160210,
 160211,
 160301,
 160302,
 160303,
 160304,
 160305,
 160401,
 160402,
 160403,
 160404,
 160501,
 160502,
 160503,
 160504,
 160505,
 160506,
 160507,
 160508,
 160509,
 160510,
 160511,
 160601,
 160602,
 160603,
 160604,
 160605,
 160606,
 160701,
 160702,
 160703,
 160704,
 160705,
 160706,
 160801,
 160802,
 160803,
 160804]

In [37]:
df_temperature[df_temperature['ubigeo'].isin(ubigeos_loreto)].isna().sum().sum()

np.int64(0)

Los datos de temperatura para el departamento de Loreto están completos, no contienen vacíos.

In [38]:
# Semanas epidemiológicas

for ix, semana in enumerate(Year(2024).iterweeks(), 1):
    print(f'{ix}: {semana.startdate()} - {semana.enddate()}')

1: 2023-12-31 - 2024-01-06
2: 2024-01-07 - 2024-01-13
3: 2024-01-14 - 2024-01-20
4: 2024-01-21 - 2024-01-27
5: 2024-01-28 - 2024-02-03
6: 2024-02-04 - 2024-02-10
7: 2024-02-11 - 2024-02-17
8: 2024-02-18 - 2024-02-24
9: 2024-02-25 - 2024-03-02
10: 2024-03-03 - 2024-03-09
11: 2024-03-10 - 2024-03-16
12: 2024-03-17 - 2024-03-23
13: 2024-03-24 - 2024-03-30
14: 2024-03-31 - 2024-04-06
15: 2024-04-07 - 2024-04-13
16: 2024-04-14 - 2024-04-20
17: 2024-04-21 - 2024-04-27
18: 2024-04-28 - 2024-05-04
19: 2024-05-05 - 2024-05-11
20: 2024-05-12 - 2024-05-18
21: 2024-05-19 - 2024-05-25
22: 2024-05-26 - 2024-06-01
23: 2024-06-02 - 2024-06-08
24: 2024-06-09 - 2024-06-15
25: 2024-06-16 - 2024-06-22
26: 2024-06-23 - 2024-06-29
27: 2024-06-30 - 2024-07-06
28: 2024-07-07 - 2024-07-13
29: 2024-07-14 - 2024-07-20
30: 2024-07-21 - 2024-07-27
31: 2024-07-28 - 2024-08-03
32: 2024-08-04 - 2024-08-10
33: 2024-08-11 - 2024-08-17
34: 2024-08-18 - 2024-08-24
35: 2024-08-25 - 2024-08-31
36: 2024-09-01 - 2024-09-07
37: 2024-09-08 - 2024-09-14
38: 2024-09-15 - 2024-09-21
39: 2024-09-22 - 2024-09-28
40: 2024-09-29 - 2024-10-05
41: 2024-10-06 - 2024-10-12
42: 2024-10-13 - 2024-10-19
43: 2024-10-20 - 2024-10-26
44: 2024-10-27 - 2024-11-02
45: 2024-11-03 - 2024-11-09
46: 2024-11-10 - 2024-11-16
47: 2024-11-17 - 2024-11-23
48: 2024-11-24 - 2024-11-30
49: 2024-12-01 - 2024-12-07
50: 2024-12-08 - 2024-12-14
51: 2024-12-15 - 2024-12-21
52: 2024-12-22 - 2024-12-28

Se valida la obtención de las semanas epidemiológicas según lo indicado en el [calendario epidemiológico MINSA 2024](../references/calendario-epidemiologico-cdc-minsa-2024.pdf)

## Transformation

### Epidemiological Surveillance of Dengue

Se observó que la agregación mínima en común entre los conjuntos de datos es `distrito`,
entonces se puede prescindir de las columnas `localidad`, `localcod` y también de `diresa` por ser monovalente.

In [39]:
df_dengue = df_dengue[['departamento', 'provincia', 'distrito', 'ubigeo', 'diagnostic',
                       'enfermedad', 'ano', 'semana', 'edad', 'tipo_edad', 'sexo']].copy()

In [40]:
df_dengue.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27310 entries, 257636 to 501690
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   departamento  27310 non-null  object
 1   provincia     27310 non-null  object
 2   distrito      27310 non-null  object
 3   ubigeo        27310 non-null  int64
 4   diagnostic    27310 non-null  object
 5   enfermedad    27310 non-null  object
 6   ano           27310 non-null  int64
 7   semana        27310 non-null  int64
 8   edad          27310 non-null  int64
 9   tipo_edad     27310 non-null  object
 10  sexo          27310 non-null  object
dtypes: int64(4), object(7)
memory usage: 2.5+ MB

In [41]:
df_dengue.rename(columns={'departamento': 'department',
                          'provincia': 'province',
                          'distrito': 'district',
                          'enfermedad': 'disease',
                          'ano': 'year',
                          'semana': 'epi_week',
                          'edad': 'age',
                          'tipo_edad': 'age_type',
                          'sexo': 'gender'},
                 inplace=True)

In [42]:
df_dengue.sort_values(['year', 'epi_week'], inplace=True)

In [43]:
df_dengue.head(3)

,department,province,district,ubigeo,diagnostic,disease,year,epi_week,age,age_type,gender
282692,LORETO,MAYNAS,IQUITOS,160101,A97.0,DENGUE SIN SEÑALES DE ALARMA,2017,1,16,A,F
282693,LORETO,MAYNAS,IQUITOS,160101,A97.0,DENGUE SIN SEÑALES DE ALARMA,2017,1,39,A,F
282694,LORETO,MAYNAS,PUNCHANA,160108,A97.0,DENGUE SIN SEÑALES DE ALARMA,2017,1,5,A,M

Se escalan los datos de edad a `años` para poder agruparlos de manera semanal por ubigeo.

In [44]:
df_dengue['age'] = df_dengue['age'].astype('float32')

In [45]:
df_dengue.loc[df_dengue['age_type']=='M', 'age'] = df_dengue.loc[df_dengue['age_type']=='M', 'age']/12

In [46]:
df_dengue.loc[df_dengue['age_type']=='D', 'age'] = df_dengue.loc[df_dengue['age_type']=='D', 'age']/365

In [47]:
df_dengue.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27310 entries, 282692 to 501667
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   department  27310 non-null  object
 1   province    27310 non-null  object
 2   district    27310 non-null  object
 3   ubigeo      27310 non-null  int64
 4   diagnostic  27310 non-null  object
 5   disease     27310 non-null  object
 6   year        27310 non-null  int64
 7   epi_week    27310 non-null  int64
 8   age         27310 non-null  float32
 9   age_type    27310 non-null  object
 10  gender      27310 non-null  object
dtypes: float32(1), int64(3), object(7)
memory usage: 2.4+ MB

In [48]:
groupby_list = ['ubigeo', 'year', 'epi_week']
df_dengue_agg = df_dengue.groupby(groupby_list).agg({'disease': 'count',
                                                     'age': ['mean', 'median'],
                                                     'gender': pd.Series.mode
                                                     }).reset_index()

In [49]:
df_dengue_agg

      ubigeo  year epi_week disease        age         gender
                              count       mean median    mode
0     160101  2017        1       8  39.000000   38.5       F
1     160101  2017        2       9  28.407406   25.0       M
2     160101  2017        3       1  43.000000   43.0       F
3     160101  2017        4       3  30.000000   29.0       M
4     160101  2017        5       2  23.000000   23.0       F
...      ...   ...      ...     ...        ...    ...     ...
3188  160803  2022       18       2  22.000000   22.0  [F, M]
3189  160803  2022       19       1  32.000000   32.0       F
3190  160803  2022       27       2  42.000000   42.0       F
3191  160803  2022       51       1  13.000000   13.0       M
3192  160803  2022       52       2  22.500000   22.5       F

[3193 rows x 7 columns]

In [50]:
df_dengue_agg.columns = ['ubigeo', 'year', 'epi_week', 'n_cases', 'age_mean', 'age_median', 'gender_mode']

In [51]:
df_dengue_agg

      ubigeo  year  epi_week  n_cases   age_mean  age_median gender_mode
0     160101  2017         1        8  39.000000        38.5           F
1     160101  2017         2        9  28.407406        25.0           M
2     160101  2017         3        1  43.000000        43.0           F
3     160101  2017         4        3  30.000000        29.0           M
4     160101  2017         5        2  23.000000        23.0           F
...      ...   ...       ...      ...        ...         ...         ...
3188  160803  2022        18        2  22.000000        22.0      [F, M]
3189  160803  2022        19        1  32.000000        32.0           F
3190  160803  2022        27        2  42.000000        42.0           F
3191  160803  2022        51        1  13.000000        13.0           M
3192  160803  2022        52        2  22.500000        22.5           F

[3193 rows x 7 columns]

Al existir moda múltiple en varias semanas, se procede a asignar el valor de `B` de _Both are mode_.

In [52]:
df_dengue_agg.loc[~df_dengue_agg['gender_mode'].isin(['F', 'M']), 'gender_mode'] = 'B'

In [53]:
df_dengue_agg

      ubigeo  year  epi_week  n_cases   age_mean  age_median gender_mode
0     160101  2017         1        8  39.000000        38.5           F
1     160101  2017         2        9  28.407406        25.0           M
2     160101  2017         3        1  43.000000        43.0           F
3     160101  2017         4        3  30.000000        29.0           M
4     160101  2017         5        2  23.000000        23.0           F
...      ...   ...       ...      ...        ...         ...         ...
3188  160803  2022        18        2  22.000000        22.0           B
3189  160803  2022        19        1  32.000000        32.0           F
3190  160803  2022        27        2  42.000000        42.0           F
3191  160803  2022        51        1  13.000000        13.0           M
3192  160803  2022        52        2  22.500000        22.5           F

[3193 rows x 7 columns]

In [54]:
df_dengue_agg['gender_mode'].value_counts()

gender_mode
F    1482
M    1289
B     422
Name: count, dtype: int64

In [55]:
df_dengue_agg['gender_mode'].value_counts(normalize=True)

gender_mode
F    0.464140
M    0.403696
B    0.132164
Name: proportion, dtype: float64

### Districts

In [56]:
df_districts_loreto = df_districts[df_districts['departmento']=='LORETO'].copy()

In [57]:
df_districts_loreto.head()

,ubigeo,departmento,provincia,distrito,source
1451,160110,LORETO,MAYNAS,TORRES CAUSANA,INEI - CPV2017 RESULTADOS
1452,160113,LORETO,MAYNAS,SAN JUAN BAUTISTA,INEI - CPV2017 RESULTADOS
1453,160101,LORETO,MAYNAS,IQUITOS,INEI - CPV2017 RESULTADOS
1454,160102,LORETO,MAYNAS,ALTO NANAY,INEI - CPV2017 RESULTADOS
1455,160106,LORETO,MAYNAS,MAZAN,INEI - CPV2017 RESULTADOS

In [58]:
df_districts_loreto.drop(columns='source', inplace=True)

In [59]:
df_districts_loreto.rename(columns={'departmento': 'department',
                                    'provincia': 'province',
                                    'distrito': 'district'},
                           inplace=True)

In [60]:
df_districts_loreto.head()

      ubigeo department province           district
1451  160110     LORETO   MAYNAS     TORRES CAUSANA
1452  160113     LORETO   MAYNAS  SAN JUAN BAUTISTA
1453  160101     LORETO   MAYNAS            IQUITOS
1454  160102     LORETO   MAYNAS         ALTO NANAY
1455  160106     LORETO   MAYNAS              MAZAN

In [61]:
df_districts_loreto.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53 entries, 1451 to 1503
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ubigeo      53 non-null     int64
 1   department  53 non-null     object
 2   province    53 non-null     object
 3   district    53 non-null     object
dtypes: int64(1), object(3)
memory usage: 2.1+ KB

### Population

In [62]:
df_population_loreto = df_population[df_population['ubigeo'].isin(ubigeos_loreto)].copy()

df_population_loreto.head()

      ubigeo  year  population
1451  160101  2017      146853
1452  160102  2017        2855
1453  160103  2017       13875
1454  160104  2017       10134
1455  160105  2017        8032

### Temperature

In [63]:
df_temperature_loreto = df_temperature[df_temperature['ubigeo'].isin(ubigeos_loreto)].copy()

In [64]:
df_temperature_loreto.head(2)

,ubigeo,mintemp_20170101,mintemp_20170102,mintemp_20170103,mintemp_20170104,mintemp_20170105,mintemp_20170106,mintemp_20170107,mintemp_20170108,mintemp_20170109,...,mintemp_20221222,mintemp_20221223,mintemp_20221224,mintemp_20221225,mintemp_20221226,mintemp_20221227,mintemp_20221228,mintemp_20221229,mintemp_20221230,mintemp_20221231
1451,160110,22.398971,22.193321,22.281939,22.760908,22.659607,22.428437,22.14904,22.242586,22.453068,...,23.212544,23.126541,23.063195,22.085245,21.047705,21.573942,22.445662,23.331728,24.026705,23.430415
1452,160113,22.929784,23.282367,23.157929,23.054817,22.809816,22.651899,22.38451,22.579940,23.023932,...,22.610993,22.212691,23.194913,23.440047,22.854306,22.759035,23.180664,24.721194,24.248690,22.946884

In [65]:
df_temperature_loreto.shape

(53, 2192)

In [66]:
col_temp = df_temperature_loreto.columns.to_list()

In [67]:
df_temperature_loreto_agg = pd.DataFrame()

In [68]:
for year in df_dengue['year'].sort_values().unique():
    for ix, week in enumerate(Year(year).iterweeks(), 1):
        start_week = week.startdate()
        start_week_str = start_week.strftime('%Y%m%d')
        column_name = f'mintemp_{start_week_str}'
        col_ix = col_temp.index(column_name)
        df_temp_agg = df_temperature_loreto.iloc[:, col_ix: col_ix+7].agg(['min', 'mean', 'median', 'max'], axis=1)
        df_temp_agg.loc[:, 'ubigeo'] = df_temperature_loreto.loc[:, 'ubigeo']
        df_temp_agg.loc[:, 'year'] = year
        df_temp_agg.loc[:, 'epi_week'] = ix
        df_temp_agg.loc[:, 'week_start_date'] = start_week
        df_temperature_loreto_agg = pd.concat([df_temperature_loreto_agg, df_temp_agg], ignore_index=True)

In [69]:
df_temperature_loreto_agg.shape

(16589, 8)

In [70]:
df_temperature_loreto_agg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16589 entries, 0 to 16588
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   min              16589 non-null  float64
 1   mean             16589 non-null  float64
 2   median           16589 non-null  float64
 3   max              16589 non-null  float64
 4   ubigeo           16589 non-null  int64
 5   year             16589 non-null  int64
 6   epi_week         16589 non-null  int64
 7   week_start_date  16589 non-null  object
dtypes: float64(4), int64(3), object(1)
memory usage: 1.0+ MB

In [71]:
df_temperature_loreto_agg.rename(columns={'min': 'week_min_temp',
                                          'mean': 'week_mean_temp',
                                          'median': 'week_median_temp',
                                          'max': 'week_max_temp'},
                                 inplace=True)

In [72]:
df_temperature_loreto_agg

,week_min_temp,week_mean_temp,week_median_temp,week_max_temp,ubigeo,year,epi_week,week_start_date
0,22.149040,22.410318,22.398971,22.760908,160110,2017,1,2017-01-01
1,22.384510,22.895875,22.929784,23.282367,160113,2017,1,2017-01-01
2,22.316423,23.010052,23.092643,23.357510,160101,2017,1,2017-01-01
3,22.098388,22.583789,22.607459,22.856836,160102,2017,1,2017-01-01
4,22.407559,22.741537,22.770337,22.947425,160106,2017,1,2017-01-01
...,...,...,...,...,...,...,...,...
16584,21.541519,22.456472,22.296763,23.452413,160704,2022,52,2022-12-25
16585,21.339140,22.686924,22.582327,24.115566,160803,2022,52,2022-12-25
16586,22.158935,22.927746,23.030822,23.914770,160801,2022,52,2022-12-25
16587,22.496234,23.063085,23.094689,23.543433,160804,2022,52,2022-12-25
16588,21.197747,22.670844,22.810320,24.058952,160802,2022,52,2022-12-25

### Build dataset

In [73]:
df_dengue_agg.head(2)

   ubigeo  year  epi_week  n_cases   age_mean  age_median gender_mode
0  160101  2017         1        8  39.000000        38.5           F
1  160101  2017         2        9  28.407406        25.0           M

In [74]:
df_districts_loreto.head(2)

      ubigeo department province           district
1451  160110     LORETO   MAYNAS     TORRES CAUSANA
1452  160113     LORETO   MAYNAS  SAN JUAN BAUTISTA

In [75]:
df_population_loreto.head(2)

      ubigeo  year  population
1451  160101  2017      146853
1452  160102  2017        2855

In [76]:
df_temperature_loreto_agg.head(2)

,week_min_temp,week_mean_temp,week_median_temp,week_max_temp,ubigeo,year,epi_week,week_start_date
0,22.14904,22.410318,22.398971,22.760908,160110,2017,1,2017-01-01
1,22.38451,22.895875,22.929784,23.282367,160113,2017,1,2017-01-01

In [77]:
interim_path = Path.cwd().parent.joinpath('data', 'interim')

In [78]:
df_dengue_agg.to_csv(interim_path.joinpath('df_dengue_agg.csv'), index=False)

In [79]:
df_districts_loreto.to_csv(interim_path.joinpath('df_districts_loreto.csv'), index=False)

In [80]:
df_population_loreto.to_csv(interim_path.joinpath('df_population_loreto.csv'), index=False)

In [81]:
df_temperature_loreto_agg.to_csv(interim_path.joinpath('df_temperature_loreto_agg.csv'), index=False)

In [82]:
df_dengue_loreto_week = pd.merge(df_dengue_agg, df_temperature_loreto_agg,
                                 on=['ubigeo', 'year', 'epi_week'], how='outer')

In [83]:
df_dengue_loreto_week.shape

(16589, 12)

In [84]:
df_dengue_loreto_week.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16589 entries, 0 to 16588
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ubigeo            16589 non-null  int64
 1   year              16589 non-null  int64
 2   epi_week          16589 non-null  int64
 3   n_cases           3193 non-null   float64
 4   age_mean          3193 non-null   float32
 5   age_median        3193 non-null   float32
 6   gender_mode       3193 non-null   object
 7   week_min_temp     16589 non-null  float64
 8   week_mean_temp    16589 non-null  float64
 9   week_median_temp  16589 non-null  float64
 10  week_max_temp     16589 non-null  float64
 11  week_start_date   16589 non-null  object
dtypes: float32(2), float64(5), int64(3), object(2)
memory usage: 1.4+ MB

In [85]:
df_dengue_loreto_week = pd.merge(df_dengue_loreto_week, df_districts_loreto, on='ubigeo', how='left')

In [86]:
df_dengue_loreto_week = pd.merge(df_dengue_loreto_week, df_population_loreto, on=['ubigeo', 'year'], how='left')

In [87]:
df_dengue_loreto_week.shape

(16589, 16)

In [88]:
pd.DataFrame(df_dengue_loreto_week.isna().sum()).T

,ubigeo,year,epi_week,n_cases,age_mean,age_median,gender_mode,week_min_temp,week_mean_temp,week_median_temp,week_max_temp,week_start_date,department,province,district,population
0,0,0,0,13396,13396,13396,13396,0,0,0,0,0,0,0,0,0

In [92]:
df_dengue_loreto_week.sort_values(['year', 'epi_week', 'ubigeo'], inplace=True, ignore_index=True)

In [93]:
df_dengue_loreto_week

,ubigeo,year,epi_week,n_cases,age_mean,age_median,gender_mode,week_min_temp,week_mean_temp,week_median_temp,week_max_temp,week_start_date,department,province,district,population
0,160101,2017,1,8.0,39.0,38.5,F,22.316423,23.010052,23.092643,23.357510,2017-01-01,LORETO,MAYNAS,IQUITOS,146853
1,160102,2017,1,NaN,NaN,NaN,NaN,22.098388,22.583789,22.607459,22.856836,2017-01-01,LORETO,MAYNAS,ALTO NANAY,2855
2,160103,2017,1,NaN,NaN,NaN,NaN,22.260247,22.804230,22.850060,23.272940,2017-01-01,LORETO,MAYNAS,FERNANDO LORES,13875
3,160104,2017,1,1.0,17.0,17.0,F,22.666827,22.903669,22.904686,23.187358,2017-01-01,LORETO,MAYNAS,INDIANA,10134
4,160105,2017,1,NaN,NaN,NaN,NaN,22.599678,22.746855,22.705314,22.938627,2017-01-01,LORETO,MAYNAS,LAS AMAZONAS,8032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16584,160706,2022,52,NaN,NaN,NaN,NaN,20.971816,22.178248,22.170410,23.354588,2022-12-25,LORETO,DATEM DEL MARAÑON,ANDOAS,16425
16585,160801,2022,52,7.0,21.0,18.0,M,22.158935,22.927746,23.030822,23.914770,2022-12-25,LORETO,PUTUMAYO,PUTUMAYO,4452
16586,160802,2022,52,NaN,NaN,NaN,NaN,21.197747,22.670844,22.810320,24.058952,2022-12-25,LORETO,PUTUMAYO,ROSA PANDURO,608
16587,160803,2022,52,2.0,22.5,22.5,F,21.339140,22.686924,22.582327,24.115566,2022-12-25,LORETO,PUTUMAYO,TENIENTE MANUEL CLAVERO,2408
16588,160804,2022,52,NaN,NaN,NaN,NaN,22.496234,23.063085,23.094689,23.543433,2022-12-25,LORETO,PUTUMAYO,YAGUAS,1610

* El dataframe está ordenado según año, semana epidemiológica y ubigeo en orden ascendente.
* El dataframe contiene la información de los 4 conjuntos de datos trabajados en este cuaderno.
* La presencia de valores nulos significa que hay semanas en las que no se han registrado casos de dengue en toda la región de Loreto.

## Load

In [94]:
save_path = Path.cwd().parent.joinpath('data', 'processed')

In [95]:
df_dengue_loreto_week.to_csv(save_path.joinpath('dengue_loreto_SE.csv'), index=False)